{% extends 'base_admin.html.twig' %}

{% block title %}Admin Utilisateurs{% endblock %}

{% block body %}
    <div class="ui grid container padded">
        <div class="row">
            <div class="sixteen wide mobile fourteen wide tablet eight wide computer column">
                <div class="ui segment">
                    <h3 class="ui dividing header">Liste des utilisateurs</h3>
                    {{ form_start(searchUserFormType) }}
                    <div class="two fields">
                        {{ form_row(searchUserFormType.keyword) }}
                        {{ form_row(searchUserFormType.campus) }}
                    </div>
                    <div class="two fields">
                        {{ form_row(searchUserFormType.isAdmin) }}
                        {{ form_row(searchUserFormType.isActif) }}
                    </div>
                    <div class="field">
                        {{ form_row(searchUserFormType.save) }}
                        ({{ nbreResultats ? nbreResultats : 0 }} résultats)
                    </div>
                    {{ form_end(searchUserFormType) }}
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid stackable padded">
        <div class="column">
            <table class="ui celled striped table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Pseudo</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Campus</th>
                    <th data-tooltip="Nombre de sorties organisées">Org<i class="question circle icon"></i></th>
                    <th data-tooltip="Nombre de participation à des sorties">Part<i class="question circle icon"></i></th>
                    <th data-tooltip="Nombre de commentaires postés">Com<i class="question circle icon"></i></th>
                    <th>Admin</th>
                    <th>Actif</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in tableauUsers %}
                    <tr>
                        <td><a onclick="modalAfficherUser({{ user.id }})" style="cursor: pointer">{{ user.id }}</a></td>
                        <td>{{ user.pseudo }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.telephone }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.campus.nom }}</td>
                        <td>{{ user.sortiesAsOrganisateur | length }}</td>
                        <td>{{ user.sortiesAsParticipant | length }}</td>
                        <td>{{ user.commentaires | length }}</td>
                        <td>
                            <div class="field">
                                <div class="ui toggle checkbox">
                                    <label for="checkboxAdmin{{ user.id }}"></label>
                                    <input onchange="requeteAjaxEdit({{ user.id }}, '#checkboxAdmin{{ user.id }}')" type="checkbox" name="checkboxAdmin" tabindex="0" class="hidden" disabled {{ user.administrateur ? 'checked' : '' }} id="checkboxAdmin{{ user.id }}">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <div class="ui toggle checkbox">
                                    <label for="checkboxActif{{ user.id }}"></label>
                                    <input onchange="requeteAjaxEdit({{ user.id }}, '#checkboxActif{{ user.id }}')" type="checkbox" name="checkboxActif" tabindex="0" class="hidden" disabled {{ user.actif ? 'checked' : '' }} id="checkboxActif{{ user.id }}">
                                </div>
                            </div>
                        </td>
                        <td class="right aligned collapsing" id="divEdit{{ user.id }}">
                            <button onclick="editUser({{ user.id }})" class="ui icon button" id="buttonEdit{{ user.id }}"><i class="edit icon"></i></button>
                            <button onclick="modalSupprimer({{ user.id }})" class="ui icon button"><i class="trash icon"></i></button>
                        </td>
                    </tr>
                    <!-- modal -->
                    <div class="ui dimmer modals page transition hidden">
                        {% set label_modal_suppression = 'l\'utilisateur' %}
                        {% set elementSuppression = user %}
                        {% include("inc/modal-suppression.html.twig") %}
                        {% set elementUser = user %}
                        {% include("inc/modal-user.html.twig") %}
                    </div>
                    <!-- modal -->
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="ui grid padded">
        <div class="row">
            <div class="four wide column">
                {{ knp_pagination_render(tableauUsers) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.ui.checkbox')
            .checkbox()
        ;
        function modalAfficherUser(id) {
            $('.ui.modal.modalAfficherUser'+id)
                .modal('show')
            ;
        }
        function modalSupprimer(id) {
            $('.ui.basic.modal.modalSupprimer'+id)
                .modal('setting', 'closable', true)
                .modal('show')
            ;
        }
        function editUser(id) {
            if (document.getElementById('checkboxAdmin'+id).disabled) {
                document.getElementById('checkboxAdmin'+id).disabled = false;
                document.getElementById('checkboxActif'+id).disabled = false;
                document.getElementById('divEdit'+id).innerHTML = '' +
                    '<button onclick="editUser('+id+')" class="ui icon button" id="buttonEdit'+id+'"><i class="check icon"></i></button>' +
                    '<button onclick="modalSupprimer('+id+')" class="ui icon button"><i class="trash icon"></i></button>';
            }
            else {
                document.getElementById('checkboxAdmin'+id).disabled = true;
                document.getElementById('checkboxActif'+id).disabled = true;
                document.getElementById('divEdit'+id).innerHTML = '' +
                    '<button onclick="editUser('+id+')" class="ui icon button" id="buttonEdit'+id+'"><i class="edit icon"></i></button>' +
                    '<button onclick="modalSupprimer('+id+')" class="ui icon button"><i class="trash icon"></i></button>';
            }
        }
        function requeteAjaxEdit(id, selector) {
            const Params = new URLSearchParams();
            Params.append(document.querySelector(selector).name, document.querySelector(selector).checked);
            Params.append('id', id);

            const Url = new URL(window.location.href);

            fetch(Url.pathname + "?" + Params.toString() + "&ajax=1", {
                headers: {
                    "X-Requested-With": "XMLHttpRequest"
                }
            }).then(response =>
                response.json()
            ).then(data => {
                document.querySelector('header').insertAdjacentHTML('beforeend', data.content);
                history.pushState({}, null, Url.pathname);
            }).catch(e => alert(e));

            editUser(id);
        }
    </script>
{% endblock %}

