{% extends 'base_admin.html.twig' %}

{% block title %}Admin Villes{% endblock %}

{% block body %}
    <div class="ui grid container padded">
        <div class="row">
            <div class="sixteen wide mobile fourteen wide tablet eight wide computer column">
                <div class="ui segment">
                    <h3 class="ui dividing header">Liste des villes</h3>
                    {{ form_start(searchVilleFormType) }}
                    <div class="field">
                        {{ form_row(searchVilleFormType.keyword) }}
                    </div>
                    <div class="field">
                        {{ form_row(searchVilleFormType.save) }}
                        ({{ nbreResultats ? nbreResultats : 0 }} résultats)
                    </div>
                    {{ form_end(searchVilleFormType) }}
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid stackable padded">
        <div class="column">
            <table class="ui celled striped table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Code Postal</th>
                    <th>Nombre total de sorties</th>
                </tr>
                </thead>
                <tbody>
                {% for ville in tableauVilles %}
                    <tr>
                        <td>{{ ville.id }}</td>
                        <td>{{ ville.nom }}</td>
                        <td>{{ ville.codePostal }}</td>
                        <td>{{ ville.sorties | length }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="ui grid padded">
        <div class="row">
            <div class="four wide column">
                {{ knp_pagination_render(tableauVilles) }}
            </div>
        </div>
    </div>
{% endblock %}
