{% extends 'base.html.twig' %}

{% block title %}Sortie {{ sortie.nom }}{% endblock %}

{% block body %}
    <div class="ui grid container pad">
        <div class="row">

            <div class="sixteen wide mobile fourteen wide tablet ten wide computer centered column">
                <div class="row">
                    <div class="column">
                        <div class="ui huge rounded image">
                            {% if sortie.images is not empty %}
                                {% if 'http' in sortie.images[0].urlImage %}
                                    <img src="{{ sortie.images[0].urlImage }}" style="width: 100%; object-fit: cover; height: 500px;" alt="image sortie">
                                {% else %}
                                    <img src="{{ asset('images/sorties/') ~ sortie.images[0].urlImage }}" style="width: 100%; object-fit: cover; height: 500px;" alt="image sortie">
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('images/divers/no-image-sortie.png') }}" style="width: 100%; object-fit: cover; height: 500px;" alt="image sortie">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">

                        <h2 style="padding-top: 15px">{{ sortie.nom }}</h2>
                        <h5 class="ui horizontal divider header">
                            <i class="tag icon"></i>
                            Description
                        </h5>
                        <p>{{ sortie.description }}</p>
                        <h5 class="ui horizontal divider header">
                            <i class="tag icon"></i>
                            Détails
                        </h5>
                        <div class="ui statistics">
                            <div class="statistic">
                                <div class="value">
                                    <a class="button-modal" style="color: #1b1c1d; cursor: pointer">
                                        {{ sortie.participants | length }}/{{ sortie.nbreInscriptionMax }}
                                    </a>
                                </div>
                                <div class="label">
                                    Participants
                                </div>
                            </div>
                            <div class="statistic">
                                <div class="text value">
                                    {{ sortie.dateDebut | date('d/m/Y') }}<br>
                                    <span style="font-size: 1rem">à </span>{{ sortie.dateDebut | date('H:i') }}
                                </div>
                                <div class="label">
                                    Date rdv
                                </div>
                            </div>
                            <div class="statistic">
                                <div class="value">
                                    {% set heures = sortie.duree/60 %}
                                    {% set minutes = sortie.duree%60 %}
                                    {{ heures | round(0, 'floor') }}<span style="font-size: 1rem">h</span>{{ minutes }}<span style="font-size: 1rem"> min</span>
                                </div>
                                <div class="label">
                                    Durée
                                </div>
                            </div>
                        </div>
                        <h5 class="ui horizontal divider header">
                            <i class="tag icon"></i>
                            Adresse
                        </h5>
                        <p>{{ sortie.rue }}, {{ sortie.ville.codePostal }} {{ sortie.ville.nom }}</p>

                        {% if sortie.etat.id == 6 %}
                            <h5 class="ui horizontal divider header">
                                <i class="tag icon"></i>
                                Annulation
                            </h5>
                            <p>Date : {{ sortie.dateAnnulation | date('d/m/Y à H:i') }}</p>
                            <p>Raison : {{ sortie.raisonAnnulation }}</p>
                        {% endif %}

                        <div class="ui small modal groupP">
                            <div class="header">Liste des participants</div>
                            <div class="scrolling content">
                                <div class="ui grid doubling three column row">
                                    {% for participant in sortie.participants %}
                                        <a onclick="modalAfficherUser({{ participant.id }})" class="ui image label" style="cursor: pointer; margin: 10px">
                                            {% if participant.urlImage %}
                                                {% if 'http' in participant.urlImage %}
                                                    <img class="ui avatar image" src="{{ participant.urlImage }}" alt="avatar participant">
                                                {% else %}
                                                    <img class="ui avatar image" src="{{ asset('images/users/') ~ participant.urlImage }}" alt="avatar participant">
                                                {% endif %}
                                            {% else %}
                                                <img class="ui avatar image" src="{{ asset('images/divers/no-image-user.png') }}" alt="avatar participant">
                                            {% endif %}
                                            {{ participant.pseudo }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- modal -->
                        <div class="ui dimmer modals page transition hidden">
                            {% set label_modal_suppression = 'la sortie' %}
                            {% set elementSuppression = sortie %}
                            {% include("inc/modal-suppression.html.twig") %}
                        </div>
                        <!-- modal -->
                    </div>
                </div>
            </div>

            <div class="sixteen wide mobile fourteen wide tablet six wide computer centered column">
                <div class="ui cards">
                    <div class="card" style="width: 100%">
                        <div class="content">
                            <div class="header">
                                <div class="ui tiny image">
                                    {% if sortie.organisateur.urlImage %}
                                        {% if 'http' in sortie.organisateur.urlImage %}
                                            <img class="ui small circular image" src="{{ sortie.organisateur.urlImage }}" alt="avatar organisateur">
                                        {% else %}
                                            <img class="ui small circular image" src="{{ asset('images/users/') ~ sortie.organisateur.urlImage }}" alt="avatar organisateur">
                                        {% endif %}
                                    {% else %}
                                        <img class="ui small circular image" src="{{ asset('images/divers/no-image-user.png') }}" alt="avatar organisateur">
                                    {% endif %}
                                </div>
                                <a onclick="modalAfficherUser({{ sortie.organisateur.id }})" style="color: #1b1c1d">&nbsp; {{ sortie.organisateur.pseudo }}</a>
                            </div>
                            <div class="ui divider"></div>
                            <div class="description">
                                /
                            </div>
                        </div>
                        {% if (app.user == sortie.organisateur) %}
                            <div class="ui two buttons">
                                <a class="ui teal button" href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                                <div class="or"></div>
                                <a class="ui button" id="button-suppression-sortie">Supprimer</a>
                            </div>
                            <div class="ui mini modal transition hidden">
                                <div class="header">
                                    Suppression de la sortie
                                </div>
                                <div class="content">
                                    <p>Êtes-vous sûr de vouloir supprimer la sortie ?</p>
                                </div>
                                <div class="actions">
                                    <div class="ui negative button">
                                        No
                                    </div>
                                    <a class="ui positive right labeled icon button" href="{{ path('app_sortie_delete', {'id': sortie.id}) }}">
                                        Yes
                                        <i class="checkmark icon"></i>
                                    </a>
                                </div>
                            </div>
                            <br>
                        {% endif %}
                        {% if (app.user in sortie.participants) %}
                            <a class="ui bottom attached button" href="{{ path('app_sortie_unsubscribe', {'id': sortie.id}) }}">
                                Se désinscrire
                            </a>
                        {% else %}
                            {% if sortie.participants | length < sortie.nbreInscriptionMax %}
                                <a class="ui bottom attached teal button" href="{{ path('app_sortie_subscribe', {'id': sortie.id}) }}">
                                    <i class="add icon"></i>
                                    S'inscrire
                                </a>
                            {% else %}
                                <div class="ui bottom attached green button">
                                    Complet
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- modal -->
            <div class="ui dimmer modals page transition hidden">
                {% set elementUser = sortie.organisateur %}
                {% include("inc/modal-user.html.twig") %}
            </div>
            <!-- modal -->

        </div>
        <div class="row">

            <div class="sixteen wide mobile fourteen wide tablet ten wide computer centered column">
                <h3 class="ui dividing header">Commentaires</h3>
                <div class="ui comments">
                    <div class="row" id="contentCommentaires">
                        {% include("sortie/content/_commentaires.html.twig") %}
                    </div>
                </div>
            </div>

            <div class="sixteen wide mobile fourteen wide tablet six wide computer centered column">
                <h3 class="ui dividing header">Posez votre question</h3>
                <form class="ui reply form" id="formAddNewCommentaire" method="post">
                    <div class="field">
                        <label>
                            <textarea name="inputNewCommentaireTexte"></textarea>
                        </label>
                    </div>
                    <button class="ui teal labeled submit icon button" id="buttonAddNewCommentaire"><i class="icon edit"></i>Envoyer</button>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.ui.small.modal.groupP').modal('attach events', '.button-modal', 'show');

        $('.mini.modal')
            .modal('attach events', '#button-suppression-sortie', 'show')
        ;

        function modalAfficherUser(id) {
            $('.ui.modal.modalAfficherUser'+id)
                .modal('show')
            ;
        }
    </script>
    <script src="{{ asset('js/requeteAjax.js') }}"></script>
    <script>requeteAjaxPost('#formAddNewCommentaire', '#buttonAddNewCommentaire', 'click', '#contentCommentaires')</script>
{% endblock %}
