{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}
    <div class="ui grid container pad">
        <div class="row">
            <div class="sixteen wide mobile fourteen wide tablet twelve wide computer centered column">
                <div class="ui segment">
                    <h3 class="ui dividing header">Rechercher une sortie</h3>
                    {{ form_start(searchSortieFormType) }}
                    <div class="two fields">
                        {{ form_row(searchSortieFormType.keyword) }}
                        {{ form_row(searchSortieFormType.campus) }}
                    </div>
                    <div class="two fields">
                        {{ form_row(searchSortieFormType.dateMin) }}
                        {{ form_row(searchSortieFormType.dateMax) }}
                    </div>
                    <div class="field">
                        {{ form_row(searchSortieFormType.save) }}
                    </div>
                    {{ form_end(searchSortieFormType) }}
                </div>
            </div>
        </div>
        {% include("inc/card-sortie.html.twig") %}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
