{% if nbreResultats %}
    <div class="row">
        <div class="column">
            <h5>{{ nbreResultats }} résultats</h5>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="ui four stackable doubling cards">
                {% for sortie in tableauSorties %}
                    <div class="card">
                        {% if sortie.etat.id == 1 %}
                            <div class="ui teal right corner label">
                                <i class="save icon"></i>
                            </div>
                        {% elseif sortie.etat.id == 3 or sortie.etat.id == 4 %}
                            <div class="ui red right corner label">
                                <i class="history icon"></i>
                            </div>
                        {% endif %}
                        <a class="ui fluid image image-css-perso" href="{{ path('app_sortie_detail', {'id': sortie.id}) }}">
                            {% if app.user == sortie.organisateur %}
                                <div class="ui teal ribbon label">
                                    <i class="id badge icon"></i> Mes sorties
                                </div>
                            {% endif %}
                            {% if sortie.images is not empty %}
                                {% if 'http' in sortie.images[0].urlImage %}
                                    <img src="{{ sortie.images[0].urlImage }}" alt="image sortie">
                                {% else %}
                                    <img src="{{ asset('images/sorties/') ~ sortie.images[0].urlImage }}" alt="image sortie">
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('images/divers/no-image-sortie.png') }}" alt="image sortie">
                            {% endif %}
                        </a>
                        <div class="content">
                            <div class="header">{{ sortie.nom }}</div>
                            <div class="meta">
                                <a>Organisateur : {{ sortie.organisateur.pseudo }}</a><br>
                                <a>Campus : {{ sortie.campus.nom }}</a><br>
                                <a>Ville : {{ sortie.ville.nom }}</a><br>
                                <a>Date : {{ sortie.dateDebut | date('d/m/Y à H:i') }}</a>
                            </div>
                            <div class="description">
                                {{ sortie.description | split('', 100)[0] }}
                                {% if (sortie.description | length) > 100 %}
                                    ....
                                {% endif %}
                            </div>
                        </div>
                        <div class="extra content">
                            {% if date(sortie.dateClotureInscription).diff(date("now")).m > 0 %}
                                <span class="right floated">Cloture dans + d'un mois</span>
                            {% else %}
                                {% if date(sortie.dateClotureInscription).diff(date("now")).days > 0 %}
                                    <span class="right floated">Cloture dans {{ date(sortie.dateClotureInscription).diff(date("now")).format('%d jours') }}</span>
                                {% else %}
                                    <span class="right floated">Cloture dans {{ date(sortie.dateClotureInscription).diff(date("now")).format('%Hh et %Imin') }}</span>
                                {% endif %}
                            {% endif %}
                            <span><i class="user icon"></i>{{ sortie.participants | length }}/{{ sortie.nbreInscriptionMax }} pers</span>
                        </div>
                        {% set ratio = ((sortie.participants | length) / sortie.nbreInscriptionMax) * 100 %}
                        <div class="ui bottom attached progress {{ ratio > 80 ? 'green' : ratio > 60 ? 'olive' : ratio > 40 ? 'orange' : ratio > 20 ? 'red' : '' }}">
                            <div class="bar" style="width: {{ ratio }}%">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            {{ knp_pagination_render(tableauSorties) }}
        </div>
    </div>

{% else %}
    <div class="row">
        <div class="column">
            <h5>Aucun résultat</h5>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <a class="ui button teal" href="{{ path('app_sortie_create') }}">Proposer une sortie</a>
        </div>
    </div>
{% endif %}
