


<!-- Menu fixed -->
<div class="ui large top fixed menu transition visible">
    <div class="ui container">
        <div class="item">
            <img src="{{ asset('images/divers/logo_white.gif') }}" alt="logo">
        </div>
        <a class="item" href="{{ path('app_main') }}">Accueil</a>
        <a class="item" href="{{ path('app_sortie') }}">Sorties</a>
        <a class="item" href="{{ path('app_sortie_create') }}">Proposer une sortie</a>
        <div class="right menu">
            {% if app.user %}
                <a class="item" href="{{ path('app_user_sortie') }}">Mes sorties</a>
                <div class="ui dropdown item">
                    {% if app.user.urlImage %}
                        {% if 'http' in app.user.urlImage %}
                            <img class="ui mini circular image" src="{{ app.user.urlImage }}" alt="avatar profil">
                        {% else %}
                            <img class="ui mini circular image" src="{{ asset('images/users/') ~ app.user.urlImage }}" alt="avatar profil">
                        {% endif %}
                    {% else %}
                        <img class="ui mini circular image" src="{{ asset('images/divers/no-image-user.png') }}" alt="avatar profil">
                    {% endif %}
                    &nbsp; {{ app.user.pseudo }}<i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="{{ path('app_user') }}">Mon profil</a>
                        <a class="item" href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                </div>
                <a class="item"></a>
            {% else %}
                <div class="item">
                    <a class="ui button" href="{{ path('app_login') }}">S'identifier</a>
                </div>
                <div class="item">
                    <a class="ui button teal" href="{{ path('app_register') }}">S'inscrire</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Menu fixed -->

<!-- Menu sidebar -->
<div class="ui vertical inverted sidebar menu left">
    <div class="item">
        <img src="{{ asset('images/divers/logo_black.gif') }}" alt="logo">
    </div>
    <a class="item" href="{{ path('app_main') }}">Accueil</a>
    <a class="item" href="{{ path('app_sortie') }}">Sorties</a>
    <a class="item" href="{{ path('app_sortie_create') }}">Proposer une sortie</a>
</div>
<!-- Menu sidebar -->

<!-- Menu minified -->
<div class="ui container">
    <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>
        <div class="item">
            <img src="{{ asset('images/divers/logo_black.gif') }}" alt="logo">
        </div>
        <a class="item" href="{{ path('app_main') }}">Accueil</a>
        <a class="item" href="{{ path('app_sortie') }}">Sorties</a>
        <a class="item" href="{{ path('app_sortie_create') }}">Proposer une sortie</a>
        <div class="right item">
            <a class="ui inverted button" href="{{ path('app_login') }}">S'identifier</a>
            <a class="ui inverted button" href="{{ path('app_register') }}">S'inscrire</a>
        </div>
    </div>
</div>
<!-- Menu minified -->

<!-- Bouton passage Admin/User -->
{% if app.user and app.user.roles == ["ROLE_ADMIN"] %}
    <div class="button_passage_user_admin">
        <div class="ui vertical labeled icon menu">
            <a class="item" href="{{ path('app_admin') }}"><i class="share icon"></i>Mode ADMIN</a>
        </div>
    </div>
{% endif %}
<!-- Bouton passage Admin/User -->
