<div class="ui stackable massive menu">
    <div class="active item">
        <a class="" href="{{ path('app_main') }}">BetweenStudents</a>
    </div>
    <div class="item">
        <a class="" href="{{ path('app_sortie') }}">Voir les sorties</a>
    </div>
    <div class="item">
        <a class="ui primary button" href="{{ path('app_sortie_create') }}">Proposer une sortie</a>
    </div>
    <div class="right menu">
        {% if app.user %}
            <a class="item" href="{{ path('app_main') }}">Mes sorties</a>
            <div class="ui dropdown item">
                {{ app.user.pseudo }}<i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{{ path('app_user') }}">Mon profil</a>
                    <a class="item" href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            </div>
        {% else %}
            <div class="item">
                <a class="ui primary button" href="{{ path('app_login') }}">Connexion</a>
            </div>
        {% endif %}
    </div>
</div>

<script>
    $('.ui.dropdown').dropdown();
</script>
